<div class="loading" *ngIf="!posts">
    Cargando...
</div>

<div class="container">

    <div id="user-card" class="mt-3">
        <div class="avatar_mask float-left mr-3">
            <img src="{{url + 'user/avatar/' + identity.image}}" class="avatar_nav"/>
        </div>
    
        <h1>Perfil de {{ user.name + ' ' + user.surname }}</h1>
        <p [innerHTML]="user.description"></p>
    </div>
    <hr/>

    <!-- Listado de entradas -->
    <post-list [posts]="posts"
               [identity]="identity"
               [url]="url"></post-list>
    
</div>