<div class="col-md-12 mt-3">
    <div class="loading" *ngIf="!category">
        Cargando...
    </div>

    <h1 *ngIf="category">{{category.name}}</h1>

    <hr/>

    <div class="container">

        <div class="loading" *ngIf="!posts">
            Cargando listado...
        </div>

        <div class="alert alert-warning" *ngIf="posts && posts.length == 0">
            No hay entradas que mostrar
        </div>
    
        <!-- Listado de entradas -->
        <post-list [posts]="posts"
                   [identity]="identity"
                   [url]="url"></post-list>

    </div>
</div>

